section {
  background-color: #e3ffe6;
  text-transform: capitalize;
  display: flex;
}

.wrapper {
  display: flex;
  gap: 6em;
  justify-content: center;
  position: relative;
  padding-left: 200px;
  padding-right: 200px;
}

.right {
  padding-top: 100px;
}

.exp-btn {
  background-color: #111827;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  border-radius: 38px;
  gap: 8px;
}

.hero-subtext {
  color: #64748b;
  font-weight: 400;
  font-size: 25px;
  padding-top: 20px;
}

.hero-text {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 1.2000000476837158px;
  text-align: left;
  padding-right: 250px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2em;
  margin-top: -3.5em;
}

.ab {
  position: absolute;
  z-index: 1;
}

.redball {
  top: 468px;
  left: 122px;
}

.pball {
  top: 75px;
  left: 649px;
}

.oball {
  top: 478px;
  left: 1325px;
}

.greenball {
  background-color: #43b97f;
  border-radius: 100%;
  padding: 15px;
  top: 500px;
  left: 288px;
}

.greenball1 {
  background-color: #43b97f;
  border-radius: 100%;
  padding: 15px;
  top: 140px;
  left: 1150px;
}

@media screen and (max-width: 768px) {
  section {
    background-color: #e3ffe6;
    transform: scale(0.3);
    margin-bottom: calc((0.3 - 1) * 100%);
    margin-top: calc((0.3 - 1) * 80%);
  }
  .left {
    transform: scale(1.5);
    padding-left: calc((1.3 - 1) * 80%);
  }
}