body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* width: 1423px; */
  width: 100vw;
  height: auto;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
